<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h3>Engineering page layout is here</h3>
        @RenderBody()
    </div>

    <footer>&copy; Engineering Department Footer</footer>
</body>
</html>
