@page
@model EntAppCA1.Pages.Students.EditStudentDetailsModel
@{
    ViewData["Title"] = "EditStudentDetails";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditStudentDetails</title>
</head>
<body>
    <h2> Editing Student: @Model.Student.PpsNumber</h2>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <input asp-for="Student.PpsNumber" hidden>
        </div>
        <div>
            <label asp-for=Student.FirstName></label>
            <input asp-for=Student.FirstName>
        </div>
        <div>
            <label asp-for=Student.LastName></label>
            <input asp-for=Student.LastName>
        </div>
        <button type="submit">Press Me</button>
    </form>
</body>
</html>
