/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.field-validation-error {
    color: red;
    font-weight: bold;
    text-decoration: underline;
    border: dashed;
    margin: 10px;
    Padding: 10px;
}

.validation-summary-errors {
    color: red;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    font-size: 80%;
    border:solid;
    margin:10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content 
{
    padding-left: 15px;
    padding-right: 15px;
}

.row div
{
    background-color:lightblue;
    border: solid;
}


